body {
    background-color: #ffffff
}
#wrapper {
    width: 96%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 58%;
    height: 700px;
}
#notes {
    float: right;
    width: 40%;
}
textarea, input {
    display: block;
    width: 100%;
    background-color: #ffffff;
}